@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root{
    --primary-color: #FF5361;
    --text-primary: #000;
    --text-secondary: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: var(--text-secondary);
    background: linear-gradient(black,transparent);
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://images.pexels.com/photos/117843/pexels-photo-117843.jpeg?auto=compress&cs=tinysrgb&w=1960&h=1080&dpr=1") no-repeat center center/cover;
    z-index: -1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.logo {
    font-family: 'Comforter Brush', cursive;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 3rem;
}

a{
    color: inherit;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--text-secondary);
    padding: 0 10px;
}

.register-btn {
    background: white;
    color: black;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.profile-btns{
    display: flex;
    column-gap: 1rem;
}
.profile-btns i{
    font-size: 1.5rem;
}

.container {
    padding: 0 12%;
}

/* --------------hero----------- */

.hero{
    margin: 100px 0;
    padding: 100px 0;
}

.hero h1{
    font-size: 4vw;
    font-weight: 500;
    text-align: center;
}

.search-bar form{
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 2rem;
    background: white;
}

.search-bar form input {
    display: block;
    border: 0;
    outline: none;
    border-bottom: 1px solid var(--primary-color)!important;
}
.search-bar form .location-input {
    flex: 1;
}
.search-bar form .location-input input{
    width: 100%;
}
.search-bar form button {
    background: var(--primary-color);
    border: 0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.search-bar form button i {
    font-size: 1.1rem;
    color: var(--text-secondary);
}

.search-bar form label {
    font-weight: 600;
    color: var(--text-primary);
}

/* --------------exclusives----------- */
.sub-title {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.exclusives {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
}

.exclusives div img {
    width: 100%;
    max-height: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.exclusives div {
    position: relative;
}

.exclusives div span {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/* -----------------Trending Places-------------- */
.tranding {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-bottom: 30px;
}

.tranding div img {
    width: 100%;
    border-radius: 10px;
}

.tranding h3 {
    font-weight: 600;
    margin-top: 10px;
}

/* -----------call to action------------------- */
.cta {
    margin: 80px 0;
    background-size: cover;
    background-position: center;
    background: rgba(0, 0, 0, 0.582);
    padding: 5%;
    color: var(--text-secondary);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.384);
    position: relative;
    border-radius: 1rem;
}
.cta::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #ff53616e, transparent),
    url("https://images.pexels.com/photos/2664046/pexels-photo-2664046.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center/cover;
    z-index: -1;
    border-radius: 1rem;
}

.cta h3 {
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}

.cta p {
    font-size: 18px;
    margin: 10px 0;
}

.cta-btn {
    background: var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
    text-shadow: none;
}

/* ================Travellers Stories=============== */
.stories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-bottom: 30px;
}

.travellers-card a{
    text-decoration: none;
}

.travellers-card{
    position: relative;
}

.travellers-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.432);
    border-radius: 1rem;
}

.stories div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.stories div {
    position: relative;
    text-align: center;
}

.stories div p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 26px;
}

.Start-btn {
    text-decoration: none;
    background: var(--primary-color);
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

/* ================about-msg============== */
.about-msg {
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}

.about-msg h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}

/* ==============footer=============== */
.footer {
    margin: 80px 0 10px;
    text-align: center;
}

.brand{
    font-family: 'Comforter Brush', cursive;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 10px;
    font-weight: normal;
}
.brand-inline{
    font-size: 1.5rem;
}

.footer a {
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}

.footer hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer {
    padding-bottom: 15px;
}
.footer i{
    cursor: pointer;
}

.active {
    position: relative;
}

.active::after {
    content: '';
    background: var(--primary-color);
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}
nav .fa-bars{
   display: none; 
}

/* =============small screen divices================== */
@media only screen and (max-width:1500px) {
    .hero form{
        width: 80%;
    }
    .exclusives {
        grid-template-columns: repeat(4, auto);
    }
    .exclusives div img {
        min-height: 200px;
    }
}
@media only screen and (max-width:1150px) {
    .hero form{
        width: 100%;
    }
    .exclusives {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width:900px) {
    .hero{
        margin: 50px 0;
    }
    .hero h1 {
        font-size: 1.5rem;
    }
    .hero form{
        flex-wrap: wrap;
    }
    .search-bar{
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form{
        display: block;
        padding: 10px 20px;
    }
    .search-bar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .search-bar form  button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);

    }
}

@media only screen and (max-width:700px) {
    .logo {
        position: fixed;
        top: 10px;
        left: 30px;
    }
    nav {
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: var(--primary-color);
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .vav-links li {
        margin: 10px 0;
        display: block;
    }

    .register-btn {
        margin: 15px 15px 30px 0;
        display: inline-block;
    }
    .profile-btns {
        justify-content: flex-end;
        column-gap: 2rem;
        margin: 15px 15px 30px 0;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
        color: #fff;
        font-size: 28px; 
        cursor: pointer;
     }
    .hero form{
        border-radius: 1rem;
    }
    .active::after {
        left: -40px;
        transform: translate(0, 50%);
        bottom: 50%;
    }
    .hidemenu{
        max-height: 300px;
    }
    .sub-title{
        font-size: 6vw;
    }
    .cta{
        padding: 15% 5%;

    }
    .cta h3{
        font-size:7vw;
        line-height: 8vw;
    }
    .cta p{
        font-size:14px;
    }
   .cta-btn{
    padding: 6px 15px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 14px;
   }
   .stories p{
    font-size:22px;
   } 
   .about-msg{
    font-size: 15px;
   }
   .exclusives {
    grid-template-columns: repeat(1, 100%);
}

}


/* ==================listing page====================== */

.navbar-white{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.navbar-white .nav-links li a{
    color: #000;
}
.navbar-white .register-btn{
    background: var(--primary-color);
    color: #fff;
}
.navbar-white .profile-btns i{
    color: var(--primary-color);
}
nav.navbar-white .fa-bars{
    color: #000;
}
.navbar-white .active::after{
    background: var(--primary-color);
}
.list-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.search-listing{
    display: flex;
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: auto ;
}
.search-listing input{
    width: 100%;
    margin: auto;
    border-radius: 2rem;
    border: none;
    border-bottom: 2px solid transparent;
    background: #9999991f;
    padding: 20px 15px;
    transition: 0.3s ease;
}
.search-listing input:focus{
    border-bottom: 2px solid var(--primary-color);
    outline: none;
}
.search-listing button{
    position: absolute;
    top: 3px;
    right: 2px;
    background: var(--primary-color);
    border: none;
    outline: none;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.left-col{
    flex-basis: 70%;
}
.left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}
.package{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.package:last-child{
    border-bottom: 1px solid #ccc;
}

.package .btn{
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--text-secondary);
    border-radius: 20px;
}
.package-img{
    flex-basis: 40%;
}
.package-info{
    flex-basis: 58%;
    color: #555;
}
.package-img img{
    width:100%;
    border-radius: 12px;
}
.package-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.hotel-chekins{
    margin-top: 10px;
}
.package-info i{
    color: var(--primary-color);
    font-size: 18px;
    margin:10px 1px;
}
.package-price{
    margin-top: 20px;
    text-align: right;
}
.package-price h4{
    font-size: 20px;
}
.package-price h4 span{
    font-size: 16px;
    font-weight: 500;
}
.right-col{
    position: relative;
    flex-basis: 25%;
}

.right-col button{
    cursor: pointer;
}

.right-col i{
    font-size: 1.2rem;
    color: var(--text-secondary);
}

.sidebar{
    position: sticky;
    top: 20px;
    border-radius: 0.5rem;
}
.sidebar{
    padding: 20px 30px;
    margin-top: 30px;
}
.sidebar h2{
    font-weight: 500;
}
.sidebar h3{
    font-weight: 600;
    margin: 20px 0 10px;
}
.filter{
    display: flex;
    align-items:center;
    color: #555;
    margin-bottom: 10px;
}
.filter p{
    flex: 1;
}
.filter input{
    margin-right: 15px;
    cursor: pointer;
}
.sidebar-link{
    border-top: 1px solid #555;
    text-align: right;
}
.sidebar-link a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.pagination i{
    font-size: 1.3rem;
}
.right-arraw{
    transform:rotate(180deg);
}

.pagination span{
    display: inline-block;
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .current{
    background: #333;
    color: #fff; 
}

/* =============small screen divices for listing page================== */
@media only screen and (max-width:900px){
    .search-listing{
        margin-top: 6rem;
    }
    .list-container{
        flex-direction: column-reverse;
        row-gap: 2rem;
    }
}
@media only screen and (max-width:700px){
    .left-col,.right-col, .package-info,.package-img{
        flex-basis: 100%;
    }
    .left-col h1{
        font-size: 22px;
    }
    .package-info h3{
        font-size: 18px;
    }
    .package-info i{
        font-size: 16px;
    }
    .pagination span{
        margin: 10px 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size:12px;
    }
    
}

/* ============= Registration ================== */
.registration-header{
    position: relative;
    background: linear-gradient(transparent,rgb(255, 255, 255));
}

.registration-header .logo{
    color: var(--text-secondary);
}
.registration-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.658)),
    url("https://images.pexels.com/photos/5538603/pexels-photo-5538603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")no-repeat center center/cover;
    z-index: -1;    
}
.registration .from-box {
    width: 100%;
    max-width: 550px;
    margin: 50px auto 0;
    padding: 50px 60px 70px;
    text-align: center;
}

.notification{
    height: 50px;
    color: var(--text-secondary);
    font-size: 1.2rem;
}
.notification .success{
    background: #198754;
    border-radius: 0.5rem;
    padding: 0.6rem;
}
.notification .danger{
    border-radius: 0.5rem;
    padding: 0.6rem;
    background: #d41a2d;
  
}

.registration .from-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: var(--primary-color);
    position: relative;
}

.registration .from-box h1::after {
    content: '';
    width: 50px;
    height: 4px;
    border-radius: 3px;
    background: var(--primary-color);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.registration .input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
    border-radius: 0.5rem;
}

.registration input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.registration .input-field{
    position: relative;
}
.registration .input-field i {
    margin-left: 15px;
    color: #999;
}
.registration .input-field .show_password {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.registration form p {
    text-align: left;
    font-size: 13px;
}

.registration form p a {
    text-decoration: none;
    color: var(--primary-color);
}

.registration .btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.3s ease;
}

.registration .btn-field button {
    flex-basis: 48%;
    background: var(--primary-color);
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
    transition: 0.3s ease;
}
.registration .input-group {
    height: 250px;
}

.registration .btn-field button.disable {
    color: var(--text-secondary);
    background: #555;
}

/* =============small screen divices for package ditails page================== */
@media only screen and (max-width:700px){
    .registration .from-box {
        padding: 100px 20px 70px;
    }
    .registration .btn-field {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .registration .btn-field button {
        padding: 10px 0;
    }
    .registration .btn-field button {
        width: 50%;
    }
}

/* Print Invoice */
@media print{
    .print-btn{
        display: none;
    }
}