@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
    --primary-color: #FF5361;
    --text-primary: #000;
    --text-shade: #999;
    --text-secondary: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f1f1f1;
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: #444;
}

h3 {
    color: var(--text-shade);
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 20px;
    background: #f05462;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid var(--text-shade);
}

table {
    padding: 10px;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    width: 15%;
    position: fixed;
    background: var(--primary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.brand-name {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    font-family: 'Comforter Brush', cursive;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--text-primaryy);
}
ul{
    margin-top: 5rem;
    display: grid;
    width: 100%;
    row-gap: 1rem;
}
.side-menu li a{
    text-align: center;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 1.2rem;
    padding: 10px 40px;
    color: black;
    cursor: pointer;
}
.side-menu li.active a {
    color: var(--primary-color);
    background: white;
}

.side-menu li a:hover {
    background: white;
    color: var(--primary-color);
}

.container {
    position: absolute;
    right: 0;
    width: 85%;
    background: #f1f1f1;
}

.container .header {
    /* position: fixed; */
    /* top: 0;
    right: 0; */
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 1; */
}

.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content {
    position: relative;
    margin-top: 10vh;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .content .cards .card {
    height: 150px;
    max-width: 350px;
    width: 100%;
    padding: 20px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
}
.container .content .cards .card.add-package{
    background: var(--primary-color);
    color: var(--text-secondary);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.329);
    cursor: pointer;
}

.container .content .cards .card i{
    font-size: 2rem;
}

.container .content .content-2.dashboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container .content .content-2 .recent-payments {
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}
.container .content .content-2 .recent-payments table td{
    text-align: center;
}

.container .content .content-2 .new-users {
    flex: 2;
    background: white;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.container .content .content-2 .table-container{
    overflow-x: scroll;
}

.container .content .content-2 .new-users table td,th{
    text-align: center;
}
.container .content .content-2 .packages-container{
    display: grid;
    row-gap: 1rem;
    margin: 1rem 0;
}
.container .content .content-2 .packages-container h2{
    text-align: center;
}
.container .content .content-2 .packages{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    width: 80%;
    margin: auto;
}


.container .content .content-2 .packages .package{
    background: var(--text-secondary);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
.container .content .content-2 .packages .package .img-box{
    max-width: 300px;
    width: 100%;
    border-radius: 0.5rem;
}
.container .content .content-2 .packages .package .img-box img{
    border-radius: 0.5rem;
}
.container .content .content-2 .packages .package .details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}
.container .content .content-2 .packages .package .details .info{
    font-weight: bold;
    display: grid;
    row-gap: 0.5rem;
}
.container .content .content-2 .packages .package .details .info .icons{
    display: flex;
    column-gap: 10px;
}
.container .content .content-2 .packages .package .details .info .icons i{
    color: var(--text-shade);
}
@media screen and (max-width: 1250px) {
    .side-menu li a span {
        display: none;
    }

    .side-menu {
        align-items: center;
    }
    .side-menu li a{
        justify-content: center;
        padding: 10px 0;
    }
    .container .content .content-2 .packages .package{
        display: grid;
        row-gap: 1rem;
    }
    .container .content .content-2 .packages .package .img-box{
        max-width: 500px;
        margin: auto;
    }
}

@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }

    .container .content .cards {
        justify-content: center;
    }

    .side-menu li img {
        width: 30px;
        height: 30px;
    }

    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
    .container .content .content-2 .packages .package .details{
       width: 100%;
       display: grid;
       row-gap: 1rem;
       justify-content: center;
    }
}

/* Utilities */

.badge{
    color: var(--text-secondary);
    border: none;
    outline: none;
    padding: 3px 6px;
    border-radius: 1rem;
}
.badge.badge-success{
    background: #198754;
}
.badge.badge-danger{
    background: #dc3545;

}
.cursor-pointer{
    cursor: pointer;
}
.container .content .cards .report-btn{
    background: var(--primary-color);
    color: var(--text-secondary);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.329);
    cursor: pointer;
    font-size: 1.2rem;
}
/* New Package */

.new-package-form{
    padding: 1rem;
    max-width: 900px;
    width: 100%;
    margin: auto;
}
.form-inner{
    background: var(--text-secondary);
    padding: 20px;
    border-radius: 0.5rem;
    display: grid;
    row-gap: 1rem;
}
.form-inner .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
.form-inner .row .features{
    width: 100%;
}
.form-inner .row .features input{
    margin: 0 5px;
}
.form-inner .input-group{
    display: grid;
    width: 100%;
    row-gap: 0.5rem;
}
.form-inner .input-group label{
    font-weight: bold;
}
.form-inner .input-group input,textarea{
    width: 100%;
    padding: 0.2rem 0.5rem;
    resize: none;
}

@media screen and (max-width: 700px) {
    .form-inner .row{
        display: block;
    }
    .form-inner .row .features{
        margin-top: 1rem;
    }
}